# Copy this file to env.yml
# Replace keys as necessary
default_env: &default_env
  TWITTER_KEY: 'CONSUMER KEY HERE'
  TWITTER_SECRET: 'CONSUMER SECRET HERE'
  REDIRECT_URL: 'REDIRECT_URL?vendorID=VENDOR ID HERE'
dev:
  <<: *default_env
prod:
  <<: *default_env
